<div style="display: flex; flex-wrap: wrap; width: 100%; height: 100%; margin: 0px;">
  <nb-card style="width: calc(50% - 20px); height: 46%;">
    <nb-card-body>
      <h5>CPU</h5>
      <div echarts [options]="cpuOption" class="echarts" style="width: 100%; height: 85%;"></div>
    </nb-card-body>
  </nb-card>

  <nb-card style="width: calc(50% - 20px); height: 46%;">
    <nb-card-body>
      <h5>Memory</h5>
      <div echarts [options]="memOption" class="echarts" style="width: 100%; height: 85%;"></div>
    </nb-card-body>
  </nb-card>
 
  <nb-card style="width: calc(50% - 20px); height: 46%;">
    <nb-card-body>
      <h5>File System</h5>
      <div echarts [options]="fsOption" class="echarts" style="width: 100%; height: 85%;"></div>
    </nb-card-body>
  </nb-card>

  <nb-card style="width: calc(50% - 20px); height: 46%;">
    <nb-card-body>
      <h5>Network</h5>
      <div echarts [options]="netOption" class="echarts" style="width: 100%; height: 85%;"></div>
    </nb-card-body>
  </nb-card>
</div>